$color: (
  track: #888888,
  background: #444444,
);

.value-slider {
  svg {
    padding: 0 15px;
    background: map-get($color, background);
    border-radius: 15px;
    overflow: hidden;
    height: 30px;
    width: 100%;
    overflow: visible;
    display: block;
    &:hover {
      cursor: pointer;
    }

    .ticks {
      line.tick {
        stroke: map-get($color, track);
        stroke-width: 2;
      }

      text.label {
        fill: map-get($color, track);
        font-size: 11px;
        &.active {
          fill: currentColor;
        }
      }
    }

    .track {
      line.range {
        stroke: currentColor;
        stroke-width: 4;
      }
      line.background {
        stroke: map-get($color, track);
        stroke-width: 4;
      }
    }

    circle.thumb {
      fill: currentColor;
      &.dragging {
        stroke-width: 4;
        stroke: currentColor;
      }
    }
  }
}
