<div class="view-container" [ngClass]="[slider.color]">
  <div class="title">Rapid Sliderbar</div>

  <rapid-sliderbar
    name="rapid-slider"
    [value]="slider.value"
    [ticks]="slider.ticks"
    [snap]="slider.snap"
    (valueChange)="onSliderChanges($event)"
    (dragStarted)="onSliderDragStarted()"
    (dragEnded)="onSliderDragEnded()"
  ></rapid-sliderbar>

  <div class="options-container">
    <div class="title">Options</div>
    <div class="slider-state">{{ sliderState }}</div>
    <div class="color">
      Color
      <select [(ngModel)]="slider.color">
        <option [value]="'brown'">Brown</option>
        <option [value]="'teal'">Teal</option>
        <option [value]="'gold'">Gold</option>
      </select>
    </div>
    <div class="value">
      Position <input type="number" [(ngModel)]="slider.value" />
    </div>
    <div class="tick-count">
      <span>Ticks</span>
      <input type="number" [(ngModel)]="slider.ticks" />
    </div>
    <div class="is-snapped">
      <input type="checkbox" [(ngModel)]="slider.snap" /> <span>Snap</span>
    </div>
  </div>

  <div class="div description">
    <div class="title">Description</div>
    <div>
      <p>
        RQUIREMENTS<br />
        For this I chose dumb. Them reasoning is the component should be small
        and presentational without service dependencies.
      </p>
      <p>
        ANGULAR FRAMEWORK<br />
        For this I chose dumb. Them reasoning is the component should be small
        and presentational without service dependencies.
      </p>
      <p>
        "SMART" OR "DUMB" COMPONENT<br />
        For this I chose dumb. Them reasoning is the component should be small
        and presentational without service dependencies.
      </p>
      <p>
        OPTIONS<br />
        For this I chose dumb. Them reasoning is the component should be small
        and presentational without service dependencies.
      </p>
      <p>
        SVG STRUCTURE<br />
        For this I chose dumb. Them reasoning is the component should be small
        and presentational without service dependencies.
      </p>
      <p>
        NOTES<br />
        For this I chose dumb. Them reasoning is the component should be small
        and presentational without service dependencies.
      </p>
    </div>
  </div>
</div>
